<div class="sw-grid">
    <div class="sw-grid-08 sw-header-logo">
        {{ text }}
    </div>
    <div class="sw-grid-08">
    </div>
    <div class="sw-grid-08">
        {{_ "sw-imprint" }}
    </div>
</div>