@import 'sw/media/css/sw-scss';

/*
 * Fonts
 **********************************************************/

@import url('http://fonts.googleapis.com/css?family=Orbitron|Roboto:400,500,700|Roboto+Condensed:400,700&subset=latin,latin-ext');

/*
 * Reset
 **********************************************************/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    min-width: 1060px;
    font-family: $font-family-primary;
    font-size: 12px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: $font-weight-normal;
}

a {
    cursor: pointer;
    outline: 0;
    color: $color-blue-light;
    text-decoration: none;
}

a:hover {
    color: $color-blue-dark;
}

a:focus, a:active {
    color: #333;
}

img {
    vertical-align: middle;
    border: 0;
}

ol, ul {
    list-style: none;
}

p {
    margin: 0 0 10px;
    line-height: 1.5;
    text-align: justify;
}

table {
    border-collapse: collapse;
    width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button,
input[type=button],
input[type=submit],
input[type=reset],
input[type=image],
input[type=file] {
    cursor: pointer;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

input[type=date],
input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=number],
textarea {
    color: #555;
    border: 1px solid #ccc;
    border-radius: $css-radius;
    padding: 6px 7px 8px 7px;
    background-color: #fff;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/*
 * Placeholder
 **********************************************************/

::-webkit-input-placeholder { color: #999; }
:hover::-webkit-input-placeholder { color: #bbb; }
:focus::-webkit-input-placeholder { color: #ddd; }

::-moz-placeholder { color: #999; }
:hover::-moz-placeholder { color: #bbb; }
:focus::-moz-placeholder { color: #ddd; }

:-ms-input-placeholder { color: #999; }
:hover:-ms-input-placeholder { color: #bbb; }
:focus:-ms-input-placeholder { color: #ddd; }

/*
 * Hide IE 10+ Input Controls
 **********************************************************/

::-ms-clear { display: none; }
::-ms-reveal { display: none; }

/*
 * Clearfix
 **********************************************************/

.sw-cf:before, .sw-cf:after,
.sw-grid:before, .sw-grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.sw-cf:after,
.sw-grid:after {
    clear: both;
}

/*
 * Grid
 **********************************************************/

.sw-grid-01,
.sw-grid-02,
.sw-grid-03,
.sw-grid-04,
.sw-grid-05,
.sw-grid-06,
.sw-grid-07,
.sw-grid-08,
.sw-grid-09,
.sw-grid-10,
.sw-grid-11,
.sw-grid-12,
.sw-grid-13,
.sw-grid-14,
.sw-grid-15,
.sw-grid-16,
.sw-grid-17,
.sw-grid-18,
.sw-grid-19,
.sw-grid-20,
.sw-grid-21,
.sw-grid-22,
.sw-grid-23,
.sw-grid-24 {
    position: relative;
    float: left;
    min-height: 1px;
}

.sw-grid-01 { width:  4.165%; }
.sw-grid-02 { width:  8.330%; }
.sw-grid-03 { width: 12.495%; }
.sw-grid-04 { width: 16.660%; }
.sw-grid-05 { width: 20.825%; }
.sw-grid-06 { width: 24.990%; }
.sw-grid-07 { width: 29.155%; }
.sw-grid-08 { width: 33.320%; }
.sw-grid-09 { width: 37.485%; }
.sw-grid-10 { width: 41.650%; }
.sw-grid-11 { width: 45.815%; }
.sw-grid-12 { width: 49.980%; }
.sw-grid-13 { width: 54.145%; }
.sw-grid-14 { width: 58.310%; }
.sw-grid-15 { width: 62.475%; }
.sw-grid-16 { width: 66.640%; }
.sw-grid-17 { width: 70.805%; }
.sw-grid-18 { width: 74.970%; }
.sw-grid-19 { width: 79.135%; }
.sw-grid-20 { width: 83.300%; }
.sw-grid-21 { width: 87.465%; }
.sw-grid-22 { width: 91.630%; }
.sw-grid-23 { width: 95.795%; }
.sw-grid-24 { width: 99.960%; }

.sw-off-01  { margin-left:  4.165%; }
.sw-off-02  { margin-left:  8.330%; }
.sw-off-03  { margin-left: 12.495%; }
.sw-off-04  { margin-left: 16.660%; }
.sw-off-05  { margin-left: 20.825%; }
.sw-off-06  { margin-left: 24.990%; }
.sw-off-07  { margin-left: 29.155%; }
.sw-off-08  { margin-left: 33.320%; }
.sw-off-09  { margin-left: 37.485%; }
.sw-off-10  { margin-left: 41.650%; }
.sw-off-11  { margin-left: 45.815%; }
.sw-off-12  { margin-left: 49.980%; }
.sw-off-13  { margin-left: 54.145%; }
.sw-off-14  { margin-left: 58.310%; }
.sw-off-15  { margin-left: 62.475%; }
.sw-off-16  { margin-left: 66.640%; }
.sw-off-17  { margin-left: 70.805%; }
.sw-off-18  { margin-left: 74.970%; }
.sw-off-19  { margin-left: 79.135%; }
.sw-off-20  { margin-left: 83.300%; }
.sw-off-21  { margin-left: 87.465%; }
.sw-off-22  { margin-left: 91.630%; }
.sw-off-23  { margin-left: 95.795%; }

.sw-grid-gap-b { margin-left: 1%; margin-right: 1%; }

.sw-grid-01.sw-grid-gap-b { width:  2.165%; }
.sw-grid-02.sw-grid-gap-b { width:  6.330%; }
.sw-grid-03.sw-grid-gap-b { width: 10.495%; }
.sw-grid-04.sw-grid-gap-b { width: 14.660%; }
.sw-grid-05.sw-grid-gap-b { width: 18.825%; }
.sw-grid-06.sw-grid-gap-b { width: 22.990%; }
.sw-grid-07.sw-grid-gap-b { width: 27.155%; }
.sw-grid-08.sw-grid-gap-b { width: 31.320%; }
.sw-grid-09.sw-grid-gap-b { width: 35.485%; }
.sw-grid-10.sw-grid-gap-b { width: 39.650%; }
.sw-grid-11.sw-grid-gap-b { width: 43.815%; }
.sw-grid-12.sw-grid-gap-b { width: 47.980%; }
.sw-grid-13.sw-grid-gap-b { width: 52.145%; }
.sw-grid-14.sw-grid-gap-b { width: 56.310%; }
.sw-grid-15.sw-grid-gap-b { width: 60.475%; }
.sw-grid-16.sw-grid-gap-b { width: 64.640%; }
.sw-grid-17.sw-grid-gap-b { width: 68.805%; }
.sw-grid-18.sw-grid-gap-b { width: 72.970%; }
.sw-grid-19.sw-grid-gap-b { width: 77.135%; }
.sw-grid-20.sw-grid-gap-b { width: 81.300%; }
.sw-grid-21.sw-grid-gap-b { width: 85.465%; }
.sw-grid-22.sw-grid-gap-b { width: 89.630%; }
.sw-grid-23.sw-grid-gap-b { width: 93.795%; }
.sw-grid-24.sw-grid-gap-b { width: 97.960%; }

.sw-off-01.sw-grid-gap-b { margin-left:  5.165%; }
.sw-off-02.sw-grid-gap-b { margin-left:  9.330%; }
.sw-off-03.sw-grid-gap-b { margin-left: 13.495%; }
.sw-off-04.sw-grid-gap-b { margin-left: 17.660%; }
.sw-off-05.sw-grid-gap-b { margin-left: 21.825%; }
.sw-off-06.sw-grid-gap-b { margin-left: 25.990%; }
.sw-off-07.sw-grid-gap-b { margin-left: 30.155%; }
.sw-off-08.sw-grid-gap-b { margin-left: 34.320%; }
.sw-off-09.sw-grid-gap-b { margin-left: 38.485%; }
.sw-off-10.sw-grid-gap-b { margin-left: 42.650%; }
.sw-off-11.sw-grid-gap-b { margin-left: 46.815%; }
.sw-off-12.sw-grid-gap-b { margin-left: 50.980%; }
.sw-off-13.sw-grid-gap-b { margin-left: 55.145%; }
.sw-off-14.sw-grid-gap-b { margin-left: 59.310%; }
.sw-off-15.sw-grid-gap-b { margin-left: 63.475%; }
.sw-off-16.sw-grid-gap-b { margin-left: 67.640%; }
.sw-off-17.sw-grid-gap-b { margin-left: 71.805%; }
.sw-off-18.sw-grid-gap-b { margin-left: 75.970%; }
.sw-off-19.sw-grid-gap-b { margin-left: 80.135%; }
.sw-off-20.sw-grid-gap-b { margin-left: 84.300%; }
.sw-off-21.sw-grid-gap-b { margin-left: 88.465%; }
.sw-off-22.sw-grid-gap-b { margin-left: 92.630%; }
.sw-off-23.sw-grid-gap-b { margin-left: 96.795%; }

.sw-grid-gap-l { margin-left: 1%; margin-right: 0%; }
.sw-grid-gap-r { margin-left: 0%; margin-right: 1%; }

.sw-grid-01.sw-grid-gap-l, .sw-grid-01.sw-grid-gap-r { width:  3.165%; }
.sw-grid-02.sw-grid-gap-l, .sw-grid-02.sw-grid-gap-r { width:  7.330%; }
.sw-grid-03.sw-grid-gap-l, .sw-grid-03.sw-grid-gap-r { width: 11.495%; }
.sw-grid-04.sw-grid-gap-l, .sw-grid-04.sw-grid-gap-r { width: 15.660%; }
.sw-grid-05.sw-grid-gap-l, .sw-grid-05.sw-grid-gap-r { width: 19.825%; }
.sw-grid-06.sw-grid-gap-l, .sw-grid-06.sw-grid-gap-r { width: 23.990%; }
.sw-grid-07.sw-grid-gap-l, .sw-grid-07.sw-grid-gap-r { width: 28.155%; }
.sw-grid-08.sw-grid-gap-l, .sw-grid-08.sw-grid-gap-r { width: 32.320%; }
.sw-grid-09.sw-grid-gap-l, .sw-grid-09.sw-grid-gap-r { width: 36.485%; }
.sw-grid-10.sw-grid-gap-l, .sw-grid-10.sw-grid-gap-r { width: 40.650%; }
.sw-grid-11.sw-grid-gap-l, .sw-grid-11.sw-grid-gap-r { width: 44.815%; }
.sw-grid-12.sw-grid-gap-l, .sw-grid-12.sw-grid-gap-r { width: 48.980%; }
.sw-grid-13.sw-grid-gap-l, .sw-grid-13.sw-grid-gap-r { width: 53.145%; }
.sw-grid-14.sw-grid-gap-l, .sw-grid-14.sw-grid-gap-r { width: 57.310%; }
.sw-grid-15.sw-grid-gap-l, .sw-grid-15.sw-grid-gap-r { width: 61.475%; }
.sw-grid-16.sw-grid-gap-l, .sw-grid-16.sw-grid-gap-r { width: 65.640%; }
.sw-grid-17.sw-grid-gap-l, .sw-grid-17.sw-grid-gap-r { width: 69.805%; }
.sw-grid-18.sw-grid-gap-l, .sw-grid-18.sw-grid-gap-r { width: 73.970%; }
.sw-grid-19.sw-grid-gap-l, .sw-grid-19.sw-grid-gap-r { width: 78.135%; }
.sw-grid-20.sw-grid-gap-l, .sw-grid-20.sw-grid-gap-r { width: 82.300%; }
.sw-grid-21.sw-grid-gap-l, .sw-grid-21.sw-grid-gap-r { width: 86.465%; }
.sw-grid-22.sw-grid-gap-l, .sw-grid-22.sw-grid-gap-r { width: 90.630%; }
.sw-grid-23.sw-grid-gap-l, .sw-grid-23.sw-grid-gap-r { width: 94.795%; }
.sw-grid-24.sw-grid-gap-l, .sw-grid-24.sw-grid-gap-r { width: 98.960%; }

.sw-off-01.sw-grid-gap-l { margin-left:  5.165%; }
.sw-off-02.sw-grid-gap-l { margin-left:  9.330%; }
.sw-off-03.sw-grid-gap-l { margin-left: 13.495%; }
.sw-off-04.sw-grid-gap-l { margin-left: 17.660%; }
.sw-off-05.sw-grid-gap-l { margin-left: 21.825%; }
.sw-off-06.sw-grid-gap-l { margin-left: 25.990%; }
.sw-off-07.sw-grid-gap-l { margin-left: 30.155%; }
.sw-off-08.sw-grid-gap-l { margin-left: 34.320%; }
.sw-off-09.sw-grid-gap-l { margin-left: 38.485%; }
.sw-off-10.sw-grid-gap-l { margin-left: 42.650%; }
.sw-off-11.sw-grid-gap-l { margin-left: 46.815%; }
.sw-off-12.sw-grid-gap-l { margin-left: 50.980%; }
.sw-off-13.sw-grid-gap-l { margin-left: 55.145%; }
.sw-off-14.sw-grid-gap-l { margin-left: 59.310%; }
.sw-off-15.sw-grid-gap-l { margin-left: 63.475%; }
.sw-off-16.sw-grid-gap-l { margin-left: 67.640%; }
.sw-off-17.sw-grid-gap-l { margin-left: 71.805%; }
.sw-off-18.sw-grid-gap-l { margin-left: 75.970%; }
.sw-off-19.sw-grid-gap-l { margin-left: 80.135%; }
.sw-off-20.sw-grid-gap-l { margin-left: 84.300%; }
.sw-off-21.sw-grid-gap-l { margin-left: 88.465%; }
.sw-off-22.sw-grid-gap-l { margin-left: 92.630%; }
.sw-off-23.sw-grid-gap-l { margin-left: 96.795%; }

.sw-off-01.sw-grid-gap-r { margin-left:  4.165%; }
.sw-off-02.sw-grid-gap-r { margin-left:  8.330%; }
.sw-off-03.sw-grid-gap-r { margin-left: 12.495%; }
.sw-off-04.sw-grid-gap-r { margin-left: 16.660%; }
.sw-off-05.sw-grid-gap-r { margin-left: 20.825%; }
.sw-off-06.sw-grid-gap-r { margin-left: 24.990%; }
.sw-off-07.sw-grid-gap-r { margin-left: 29.155%; }
.sw-off-08.sw-grid-gap-r { margin-left: 33.320%; }
.sw-off-09.sw-grid-gap-r { margin-left: 37.485%; }
.sw-off-10.sw-grid-gap-r { margin-left: 41.650%; }
.sw-off-11.sw-grid-gap-r { margin-left: 45.815%; }
.sw-off-12.sw-grid-gap-r { margin-left: 49.980%; }
.sw-off-13.sw-grid-gap-r { margin-left: 54.145%; }
.sw-off-14.sw-grid-gap-r { margin-left: 58.310%; }
.sw-off-15.sw-grid-gap-r { margin-left: 62.475%; }
.sw-off-16.sw-grid-gap-r { margin-left: 66.640%; }
.sw-off-17.sw-grid-gap-r { margin-left: 70.805%; }
.sw-off-18.sw-grid-gap-r { margin-left: 74.970%; }
.sw-off-19.sw-grid-gap-r { margin-left: 79.135%; }
.sw-off-20.sw-grid-gap-r { margin-left: 83.300%; }
.sw-off-21.sw-grid-gap-r { margin-left: 87.465%; }
.sw-off-22.sw-grid-gap-r { margin-left: 91.630%; }
.sw-off-23.sw-grid-gap-r { margin-left: 95.795%; }

/*
* General Layout
**********************************************************/

.sw-inner {
    position: relative;
    width: 1020px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


.sw-loader {
    @include sw-animation(sw-loader 1s linear infinite);
    @include sw-icon;
    position: absolute;
    width: 30px;

    height: 30px;
    font-size: 30px;
    color: #999;
}
